recursive-include PyTravisCI *.py
recursive-include resource_types *.py
recursive-include tests *.py
recursive-include docs *.rst Makefile *.bat *.py
include .coveragerc
include .pylintrc
include LICENSE
include README.rst
include requirements.txt
